<div class="container">
    <div class="hero-unit">
        <h1>RenTrack Inc.</h1>
        <br />
        <p>
            RENTRACK Company, a young Montreal firm, specialized in the rental of trucks with driver.
            It has a fleet of a hundred trucks of all types, and currenly has a thousand regular customers,
            mostly businesses. Our business is growing strongly.
        </p>
        <br />
        <p>
            <a class="btn btn-primary btn-large" href="<%= new_reservation_url %>">Reserve Today &raquo;</a>
        </p>
    </div>
</div>