<div class="container">
    <div class="hero-unit">
        <h1>RenTrack Inc.</h1>
        <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis eros nunc. Morbi lacus tellus, venenatis et tincidunt vel, aliquam sit amet justo. Ut et erat eu risus euismod gravida. Mauris eget turpis in arcu pulvinar pharetra nec et tortor. Aenean convallis turpis non metus molestie tempor. Curabitur ullamcorper est et tortor tempor viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tincidunt, lectus sed convallis bibendum, odio neque rutrum sem, in rutrum leo turpis.
        </p>
        <p>
            <a class="btn btn-primary btn-large">Learn more &raquo;</a>
        </p>
    </div>
</div>