// Place all the styles related to the Missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#missions_list {
    list-style: none;
    margin: 0;
}

.id {
    margin-right: 10px;
}

.message {
    margin-left: 28px;
    line-height: 1.3;
    font: 13px Helvetica,arial,freesans,clean,sans-serif;
}

.button-remove-mission {
    float: right;
}
